
#circlebody1 {
	width: 500px;
	height: 500px;
	background: #ebc4a7;
	-moz-border-radius: 250px;
	-webkit-border-radius: 250px;
	border-radius: 250px;
	position: relative;
	z-index: 0;
  margin:auto;
	border:2px;
}


#circleface1 {
	width: 230px;
	height: 260px;
	background: #FFF;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
  margin:auto;
position: relative;
right: 80px;
top:70px;
z-index: 1;
	float:right;

}

#circleface2 {
	width: 230px;
	height: 260px;
	background: #FFF;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	position: relative;
left: 20px;
top:70px;
	z-index: 2;
  margin:0;


}
