
#circlebody1 {
	width: 500px;
	height: 500px;
	background: #ebc4a7;
	-moz-border-radius: 250px;
	-webkit-border-radius: 250px;
	border-radius: 250px;
	position: relative;
	z-index: 0;
  margin:auto;
	border:2px;
}


#circleface1 {
	width: 250px;
	height: 270px;
	background: #F5F4F4;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
  margin:auto;
position: relative;
right: 70px;
top:70px;
z-index: 1;
	float:right;

}

#circleface2 {
	width: 250px;
	height: 270px;
	background: #F5F4F4;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	position: relative;
left: 20px;
top:70px;
	z-index: 2;
  margin:0;
}

#topBeak {
	display: block;
   width: 116px;
   height: 170px;
   background-color: #fff;
	 border: solid 5px black;
   -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
   border-radius:         50%  50%  50%  50%  / 60%   60%   40%  40%;
	 z-index: 3;
	 margin: 0;
	 left:50px;
	 bottom:50px;

}
