body {
	background: url("forest.png") no-repeat;
background-size: 100% ;
}
#circlebody1 {
	width: 500px;
	height: 500px;
	background: #ebc4a7;
	-moz-border-radius: 250px;
	-webkit-border-radius: 250px;
	border-radius: 250px;
	position: relative;
	z-index: 1;
  margin:auto;
	border-top:2px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;
	top: 150px;
}


#circleface1 {
	width: 250px;
	height: 270px;
	background: #f7f5f2;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
  margin:auto;
position: relative;
right: 80px;
top:70px;
z-index: 2;
	float:right;

}

#circleface2 {
	width: 250px;
	height: 270px;
	background: #f7f5f2;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	position: relative;
left: 20px;
top:70px;
	z-index: 2;
  margin:0;
}





#beak1 {
   display:block;
   width: 90px;
   height: 150px;
   background-color: white;
	 border: 3px solid black;
   -webkit-border-radius: 160px 150px 180px 100px / 300px 300px 180px 190px;
   /*border-radius:      50%  50%  50%  50%  / 60%   60%   40%  40%;*/
margin: 0px;
z-index: 4;
left: 170px;
bottom: 160px;
position: relative;

}



#beak2 {
   display:block;
   width: 85px;
   height: 120px;
   background-color: #c76a46;
   -webkit-border-radius: 63px 63px 63px 63px / 72px 72px 108px 108px;
   border-radius:         50%  50%  50%  50%  / 40%   40%   60%  60%;
border: 4px solid black;
margin:0px;
z-index: 3;
position: relative;
left:173px;
bottom: 255px;
}


#eye1 {
	width: 60px;
	height: 100px;
	background: #383632;
	-moz-border-radius: 70px / 100px;
	-webkit-border-radius: 70px / 100px;
	border-radius: 70px / 100px;
	position: relative;
	border: 3px solid black;
	z-index: 3;
	margin: 0px;
	left:70px;
	bottom:400px;
}


#eye2 {
	width: 60px;
	height: 100px;
	background: #383632;
	-moz-border-radius: 70px / 100px;
	-webkit-border-radius: 70px / 100px;
	border-radius: 70px / 100px;
	position: relative;
	border: 3px solid black;
	z-index: 3;
	margin: 0px;
	left:290px;
	bottom:510px;
}



#pupil1 {
	width: 18px;
	height: 30px;
	background: white;
	-moz-border-radius: 18px / 30px;
	-webkit-border-radius: 18px / 30px;
	border-radius: 18px / 30px;
	border: 2px solid black;
	position: relative;
  margin: 0px;
	left: 90px;
	bottom: 575px;
	z-index: 4;

}

#pupil2 {
	width: 18px;
	height: 30px;
	background: white;
	-moz-border-radius: 18px / 30px;
	-webkit-border-radius: 18px / 30px;
	border-radius: 18px / 30px;
	border: 2px solid black;
	position: relative;
  margin: 0px;
	left: 310px;
	bottom: 615px;
	z-index: 4;

}


#eyelight1 {
	width: 25px;
	height: 25px;
	background: #59534c;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	border-top: 4px solid #524d46;
	border-left: 4px solid #4d4841;
	border-right: 4px solid #4d4841;
	position: relative;
	z-index: 4;
	margin: 0;
  left: 88px;
bottom:605px;


}


#eyelight2 {
	width: 25px;
	height: 25px;
	background: #59534c;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	border-top: 4px solid #524d46;
	border-left: 4px solid #4d4841;
	border-right: 4px solid #4d4841;
	position: relative;
	z-index: 4;
	margin: 0;
  left: 308px;
bottom:639px;


}


/*
#beaklight {
	width: 1px;
	height: 40px;
	background: #f0a67f;
	-moz-border-radius: 50px / 100px;
	-webkit-border-radius: 50px / 100px;
	border-radius: 50px / 100px;
	border: 2px solid #f0a67f;
	 -webkit-transform: rotate(-35deg);
	position: relative;
	margin: 0;
	z-index: 5;
	bottom: 640px;
	left: 195px;
}*/





#featherT {
	display: hide;
	width: 100px;
	height: 200px;
	background: white;
	-moz-border-radius: 20px / 100px;
	-webkit-border-radius: 20px / 100px;
	border-radius: 20px / 100px;
	-webkit-transform: rotate(-130deg);
	/*border-top: solid 1px #d1a386;
	border-left: solid 1px black;
	border-right: solid 1px black;*/
	position: relative;
	z-index: 2;
	margin: 0;
	left:0px;
	bottom:0px;
}


#leaf1-1 {
   display:block;
   width: 140px;
   height: 100px;
   background-color: #26ab87;
   -webkit-border-radius: 1800px 1200px 1800px 1200px / 800px 1500px 100px 1500px;
   /*border-radius:         50%  50%  50%  50%  / 40%   40%   60%  60%;*/
  position: relative;
	border-top: 2px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
z-index: 4;
left:220px;
bottom:770px;


}

#leaf2-1 {
   display:block;
   width: 140px;
   height: 100px;
   background-color: #26ab87;
   -webkit-border-radius: 1000px 1800px 1200px 1800px / 1500px 800px 1500px 100px;
   /*border-radius:         50%  50%  50%  50%  / 40%   40%   60%  60%;*/
  position: relative;
	border-top: 2px solid black;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
z-index: 4;
left:85px;
bottom: 1080px;
}


#beaklight {
  width: 9px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 5px 5px 0 0 #e89b74;
	z-index: 4;
	position: relative;
	 -webkit-transform: rotate(140deg);
	left:200px;
	bottom: 638px;
	margin: 0;
}

#beakLINE {
  width: 10px;
  height: 28px;
  border-radius: 50%;
  box-shadow: 3px 3px 0 0 black;
	z-index: 5;
	position: relative;
	 -webkit-transform: rotate(140deg);
	left:202px;
	bottom: 1001px;
	margin: 0;
}

#beakshadow {
  width: 89px;
  height: 61px;
  border-radius: 50%;
  box-shadow: 5px 15px 0 0 #cecfc8;
	z-index: 4;
	position: relative;
	 -webkit-transform: rotate(332deg) scaleX(-1);
	left:174px;
	bottom: 1086px;
	margin: 0;
}


#bodylight1 {
   display:block;
   width: 260px;
   height: 116px;
   background-color: #f0d5bd;
   -webkit-border-radius: 63px 63px 63px 63px / 72px 72px 108px 108px;
   border-radius:         50%  50%  50%  50%  / 60%   60%   40%  40%;
position: relative;
border: 5px soild #ebcdb2;
z-index: 0;
margin: 0;
right: 34px;
bottom: 1255px;
 -webkit-transform: rotate(307deg);

}

 #leafSW1 {
	 width: 70px;
	 height: 101px;
	  border-radius: 50%;
	 box-shadow: 18px 18px 0 0 #268072;
	  -webkit-transform: rotate(137deg);
		position: relative;
		z-index: 5;
		margin:0;
		left:249px;
		bottom:1175px;
  }

	#leafSW2 {
		width: 101px;
		height: 70px;
		 border-radius: 50%;
		box-shadow: 18px 18px 0 0 #268072;
		 -webkit-transform: rotate(-45deg);
		 position: relative;
		 z-index: 5;
		 margin:0;
		 left:111px;
		 bottom:1261px;
	 }

	 #leafLINE1 {
	   width: 10px;
	   height: 35px;
	   border-radius: 50%;
	   box-shadow: 3px 3px 0 0 black;
	 	z-index: 5;
	 	position: relative;
	 	 -webkit-transform: rotate(90deg) scale(-1);
	 	left:260px;
	 	bottom: 1325px;
	 	margin: 0;
	 }


	 #leafLINE2 {
	   width: 10px;
	   height: 35px;
	   border-radius: 50%;
	   box-shadow: 3px 3px 0 0 black;
	 	z-index: 5;
	 	position: relative;
	 	 -webkit-transform: rotate(-270deg) scale(-1);
	 	left:170px;
	 	bottom: 1360px;
	 	margin: 0;
	 }


	 #leaflight {
	 	width: 60px;
	 	height: 45px;
	 	background: #66bda1;
	 	-moz-border-radius: 50px;
	 	-webkit-border-radius: 50px;
	 	border-radius: 50px;
		border: 5px soild #4eb594;
		position: relative;
		z-index: 5;
		left:104px;
		bottom: 1422px;
	 }

	 #feather1 {
	 	display: hide;
	 	width: 100px;
	 	height: 150px;
	 	background: #c7937b;
	 	-moz-border-radius: 50px / 100px;
	 	-webkit-border-radius: 50px / 100px;
	 	border-radius: 50px / 100px;
	 	/*-webkit-transform: rotate(-130deg);*/
	 	border-top: solid 1px #d1a386;
	 	border-left: solid 1px black;
	 	border-right: solid 1px black;
	 	position: relative;
	 	z-index: 0;
	 	margin: 0;
	 	left:59px;
	 	bottom:1450px;
	 }

	 #feather1fix {
	 	width: 100px;
	 	height: 200px;
	 	background: #c7937b;
	 	-moz-border-radius: 50px / 100px;
	 	-webkit-border-radius: 50px / 100px;
	 	border-radius: 50px / 100px;
	 	position: relative;
		border-bottom: solid 1px black;
	 	z-index: 0;
	 	margin: 0;
	 	left:0px;
	 	bottom:1600px;

	 }
